extends _layout

block content
  include _navbar
  div.container
    div.row
      o.breadcrumb
        li
          a(href='/')= __('Home')
        li
          a(href='/admin')= __('Admin')
        li.active= __('Users')
  div.container
    div.row
      div.col-md-9
        include _flash
        h1= __('Users')
        div
          a.btn.btn-default(href='/admin/users/create') Create user
          div.pull-right
            form.form-inline(action='/admin/users')
              div.input-group
                input.form-control(type='search' name='q' value=keyword placeholder='Search')
                span.input-group-btn
                  button.btn.btn-default(type='submit')
                    span.glyphicon.glyphicon-search
        table.table.table-striped.table-hover
          thead
            tr
              th
              th Username
              th Email
              th Group
              th Options
          tbody#table-body
            each user in users
              include __admin-users-table
        include _paginate
      div.col-md-3
        include _sidebar
    include _footer

block scripts
  script(src='/jade/runtime.js')
  script(src='/js/views/__admin-users-table.js')
  script(src='/js/admin-users.js')