extends _layout

block content
  include _navbar
  div.container
    div.row
      o.breadcrumb
        li
          a(href='/')= __('Home')
        li
          a(href='/admin')= __('Admin')
        li
          a(href='/admin/users')= __('Users')
        li.active= title
  div.container
    div.row
      div.col-md-9
        include _flash
        h1= title
      div.col-md-3
        include _sidebar
    include _footer

//- block scripts
//-   script(src='/js/index-users-form.js')