extends _layout

mixin select-option(value, selected, name)
  if (selected)
    option(value=value selected='selected')= name
  else
    option(value=value)= name

block content
  include _navbar
  div.container
    div.row
      o.breadcrumb
        li
          a(href='/')= __('Home')
        li.active= __('Settings')
  div.container
    div.row
      div.col-md-9
        include _flash
        h1= title
        form.form-horizontal(action=('/settings') method='post' enctype='multipart/form-data')
          div.form-group(class=errors.language ? 'has-error' : '')
            label.col-md-3.control-label= __('Language')
            div.col-md-9
              select.form-control(name='language')
                each language in languages
                  +select-option(language.id, language.selected, language.name)
              span.help-block(class=errors.language ? '' : 'hidden')= errors.language
          div.form-group(class=errors.country ? 'has-error' : '')
            label.col-md-3.control-label= __('Country')
            div.col-md-9
              select.form-control(name='country')
                each country in countries
                  +select-option(country.id, country.selected, country.name)
              span.help-block(class=errors.country ? '' : 'hidden')= errors.country
          div.form-group(class=errors.timezone ? 'has-error' : '')
            label.col-md-3.control-label= __('Timezone')
            div.col-md-9
              select.form-control(name='timezone')
                each zone in timezones
                  +select-option(zone.id, zone.selected, zone.name)
              span.help-block(class=errors.timezone ? '' : 'hidden')= errors.timezone
          h3 Account
          div.form-group(class=errors.avatar ? 'has-error' : '')
            label.col-md-3.control-label= __('Avatar')
            div.col-md-9
              img.img-thumbnail(src=user.getAvatarUrl() width='100' height='100')
              input(type='file' name='avatar')
              span.help-block(class=errors.avatar ? '' : 'hidden')= errors.avatar
          div.form-group
            label.col-md-3.control-label= __('Username')
            div.col-md-9
              input.form-control(type='text' value=user.name readonly)
          div.form-group(class=errors.email ? 'has-error' : '')
            label.col-md-3.control-label= __('Email')
            div.col-md-9
              input.form-control(type='email' name='email' value=inputs.email maxlength='255')
              span.help-block(class=errors.email ? '' : 'hidden')= errors.email
          h3 Change password
          div.form-group(class=errors.currentPassword ? 'has-error' : '')
            label.col-md-3.control-label= __('Current password')
            div.col-md-9
              input.form-control(type='password' name='cpassword' maxlength='32')
              span.help-block(class=errors.currentPassword ? '' : 'hidden')= errors.currentPassword
          div.form-group(class=errors.newPassword ? 'has-error' : '')
            label.col-md-3.control-label= __('New password')
            div.col-md-9
              input.form-control(type='password' name='npassword' maxlength='32')
              span.help-block(class=errors.newPassword ? '' : 'hidden')= errors.newPassword
          div.form-group
            div.col-md-offset-3.col-md-9
              button.btn.btn-primary(type='submit')= __('Save')
      div.col-md-3
        include _sidebar
    include _footer