extends _layout

block content
  include _navbar
  div.container
    div.row
      o.breadcrumb
        li
          a(href='/')= __('Home')
        li.active= __('Reset password')
  div.container
    div.row
      div.col-md-9
        include _flash
        h1= __('Reset password')
        if inputs.key
          form.form-horizontal(action='/reset' method='post')
            input(type='hidden' name='key' value=inputs.key)
            div.form-group(class=errors.email ? 'has-error' : '')
              label.col-md-3.control-label= __('Email')
              div.col-md-9
                input.form-control(type='email' name='email' value=inputs.email maxlength='255')
                span.help-block(class=errors.email ? '' : 'hidden')= errors.email
            div.form-group
              label.col-md-3.control-label= __('New password')
              div.col-md-9
                input.form-control(type='password' name='npassword' maxlength='32')
                span.help-block(class=errors.npassword ? '' : 'hidden')= errors.npassword
            div.form-group
              div.col-md-offset-3.col-md-9
                button.btn.btn-primary(type='submit')= __('Save')
      div.col-md-3
        include _sidebar
    include _footer